*{
    font-family: paletino;
}
body{
    background-image: url('../img/AdobeStock_410095786.jpeg');
    background-size: cover;
    background-repeat: repeat-y;
    color: rgb(244, 29, 205);
}
.currentPage{
    color: rgb(209, 89, 177);
}
.header{
    display: flex;
}
h1{
    width: 25%;
    font-size: xx-large;
    padding-left: 20px;
}
ul{
    display: flex;
    width: 75%;
    justify-content: space-around;
    list-style: none;
}





img{
    border: 10px 10px 10px white;
    border-style: solid;
}
.intro{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mainBody{
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
}
p{
    font-weight: 600;
    font-size: x-large;
    color: rgb(240, 5, 189);
    -webkit-text-stroke: .5px rgb(19, 5, 5);
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}