*{
    font-family: Playfair Display;
    color: #004921;
    background-color: #f6ebdf;
}
body{
    background-size: cover;
    background-repeat: repeat-y;
}
.header{
    display: flex;
}
h1{
    width: 25%;
    font-size: xx-large;
    font-size: 40px;
    
}
ul{
    display: flex;
    width: 75%;
    justify-content: space-around;
    list-style: none;
    
}
li{
    margin-top: 2%;
    font-size: x-large;
}

.mainPage{
    display: flex;
    height: 400px;
}
.rightArea{
    width: 60%;
}
.leftArea{
    width: 40%;
}
img{
    background-image: url('../images/Order_gaby.png');
    height: 80%;
    width: 80%;
    background-repeat: no-repeat;
    background-size: contain;
    border: #004921 solid 5px;
}
.intro{
    font-size: xxx-large;
    color: #004921;
    font-weight: bolder;
}