*{
    font-family: Playfair Display;
}
body{
    background-size: cover;
    background-repeat: repeat-y;
}
.header{
    display: flex;
}
h1{
    width: 25%;
    font-size: xx-large;
    padding-left: 20px;
}
ul{
    display: flex;
    width: 75%;
    justify-content: space-around;
    list-style: none;
}
.mainPage{
    display: flex;
    height: 400px;
}
.leftArea{
    width: 40%;
    background-color: blue;
    position: relative;
}
.image{
    background-color: white;
    position: absolute;
}
.rightArea{
    width: 60%;
    background-color: red;
}


